@import '../rules/index';

.button {
    background-color: $greylight;
    color: $white;
    display: inline-block;
    font-size: .85em;
    font-weight: 400;
    line-height: inherit;
    padding: $baseline 4rem;
    text-transform: uppercase;
    transition: opacity .3s;

    &:hover {
        opacity: .8;
    }

    &--primary {
        background-color: $black;
    }

    &--secondary {
        background-color: $greydark;
        color: $white;
    }
}