@import '../rules/index';

.intro-image {
    width: 100%;

    @include breakpoint-medium {
        max-height: 55rem;
        object-fit: cover;
        overflow: hidden;
    }

    @include breakpoint-large {
        max-height: 48rem;
    }
}