@import '../../style/rules/index';

.post-intro {
    color: $black;
    
    &__title {
        font-family: $secondary-font;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: baseline(2.8rem);
        margin-bottom: baseline(.5rem);

        @media only screen and (min-width: map-get($breakpoints, 'medium')) {
            font-size: 4rem;
            line-height: baseline(4rem);
        }

        @media only screen and (min-width: map-get($breakpoints, 'large')) {
            font-size: 6rem;
            line-height: baseline(6rem);
        }
    }

    &__date {
        display: block;
        font-family: $primary-font;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: baseline(1.3rem);
        margin-bottom: baseline(.5rem);
        
        @media only screen and (min-width: map-get($breakpoints, 'medium')) {
            font-size: 1.6rem;
            line-height: baseline(1.6rem);
            margin-bottom: $baseline * 2;
        }
    }
}