@import '../../style/rules/index';

.header {
    background-color: $white;
    border-bottom: 1px solid $greylightest;
    height: 6rem;
    position: fixed;
    width: 100%;

    &__logo {
        left: 1.5rem;
        position: relative;
        top: 1rem; 
    }

    &__navigation {
        position: absolute;
        right: 1.5rem;
        top: 2rem;
    }

    @media only screen and (min-width: map-get($breakpoints, 'medium')) {
        &__logo {
            left: 3rem;
        }
        
        &__navigation {
            right: 3rem;
        }
    }

}