@import '../../style/rules/index';

.header {
    background-color: $white;
    position: fixed;
    width: 100%;

    &__inner {
        margin: 0 auto;
        position: relative;
    }

    &__logo {
        display: inline-block;
        left: 1.5rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        position: relative;
    }

    &__navigation {
        position: absolute;
        right: 1.5rem;
        top: 2rem;
    }

    @media only screen and (min-width: map-get($breakpoints, 'medium')) {

        &__logo {
            left: 3rem;
        }
        
        &__navigation {
            right: 3rem;
        }
    }

    @media only screen and (min-width: map-get($breakpoints, 'large')) {
        position: relative;

        &__logo {
            padding-bottom: 2rem;
            padding-top: 2rem;
        }

        &__navigation {
            top: 3rem;
        }
    }

}