$primary-font: 'Source Sans Pro', sans-serif;

$baseline: 1rem;

@function baseline($size) {
    @if ($size <= 1rem) {
        @return 1rem;
    } @elseif ($size < 1.5rem) {
        @return 1.5rem;
    } @elseif ($size < 2rem) {
        @return 2rem;
    } @elseif ($size < 2.5rem) {
        @return 2.5rem;
    } @elseif ($size < 3rem) {
        @return 3rem;
    } @elseif ($size < 4rem) {
        @return 4rem;
    } @elseif ($size < 5rem) {
        @return 5rem;
    } @elseif ($size < 6rem) {
        @return 6rem;
    } @elseif ($size < 7rem) {
        @return 7rem;
    } @else {
        @return 5rem;
    }
}

%small-marked-font {
    font-family: $primary-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: baseline(1.5rem);
    text-transform: uppercase;
}