@import '../../style/rules/index';

.logo {
    color: $black;
    font-family: $primary-font;
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;

    &__circle {
        background-color: $black;
        border: 2px dashed $white;
        border-radius: 50%;
        display: inline-block;
        height: 5rem;
        width: 5rem;
    }

    &__nerd-talk {
        left: 6rem;
        position: absolute;
        top: .55rem;
    }

    &__code-speak {
        left: 6rem;
        position: absolute;
        top: 2.4rem;
    }
}