@import '../../style/rules/index';

.logo {
    @extend %small-marked-font;
    color: $black;

    &__circle {
        background-color: $black;
        border: 4px dashed $white;
        border-radius: 50%;
        display: inline-block;
        height: 4rem;
        width: 4rem;
    }

    &__nerd-talk {
        left: 5rem;
        position: absolute;
        top: .55rem;
    }

    &__code-speak {
        left: 5rem;
        position: absolute;
        top: 2rem;
    }
}