@import '../../style/rules/index';

.post-intro {
    color: $black;
    
    &__title {
        font-family: $secondary-font;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: baseline(2.8rem);
        margin-bottom: baseline(.5rem);
    }

    &__date {
        display: block;
        font-family: $primary-font;
        font-size: 1.4rem;
        line-height: baseline(1.3rem);
        margin-bottom: baseline(.5rem);
    }
}