@import '../../style/rules/index';

.author {
    @extend %small-marked-font;
    background-color: $greydark;
    color: $greylightest;
    margin-top: 7.5rem;
    padding-bottom: $baseline * 3;

    &__image-holder {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: relative;
    }

    &__image {
        background-color: $greydark;
        border: 2px solid $white;
        border-radius: 100%;
        filter: grayscale(1);
        margin: 0 auto -6.5rem;
        max-width: 15rem;
        overflow: hidden;
        position: relative;
        transform: translateY(-7.5rem);
        width: 100%;
    }

    &__name,
    &__link,
    &__job {
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
        position: relative;
    }
}