@import '../../style/rules/index';

.author {
    background-color: $greylightest;
    //border-top: 1px solid $black;
    color: $black;
    font-family: $primary-font;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: baseline(1.5rem);
    margin-top: 7.5rem;
    padding-bottom: $baseline * 3;
    text-transform: uppercase;

    &__image-holder {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        position: relative;
    }

    &__image {
        border: 2px solid $greylighter;
        border-radius: 100%;
        margin: 0 auto -6.5rem;
        max-width: 15rem;
        overflow: hidden;
        position: relative;
        transform: translateY(-7.5rem);
        width: 100%;
    }

    &__name,
    &__link,
    &__job {
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        text-align: center;
    }

    &__name {
        //
    }
}